#autogen-agentchat>=0.7.2
#autogen-core>=0.7.2
#autogen-ext>=0.7.2
#autogen-ext[openai]>=0.7.2
#autogen-ext[ollama]
python-dotenv
httpx
#asyncio-mqtt>=0.11.0
pydantic
pydantic[email]
pytest
pytest-asyncio
pytest-cov
# Code formatting and linting
black
isort
mypy
ruff
flake8
flake8-docstrings
flake8-bugbear
flake8-comprehensions
flake8-simplify
pylint
bandit
safety
pre-commit
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-openai
fastapi
uvicorn[standard]
#linkml
langgraph
langchain
langchain_openai
langchain_community
langchain_ollama
langchain_deepseek
langchain_core

langfuse
neo4j
networkx